@font-face{
    font-family: "AvenirBook";
    src: url('/../font/AvenirLTStd-Book.otf');
}
@font-face{
    font-family: "Avenir";
    src: url('AvenirLTStd-Medium.otf');
}
@font-face{
    font-family: "AvenirRoman";
    src: url('/../font/AvenirLTStd-Roman.otf');
}

#header {
    background-color: #fff;
    padding-top: 5px;
    box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.05);
    position: relative;
}

nav.navbar{
    padding-bottom: 0px;
    margin-bottom: -0.4rem;
}
.nav-item .active{
    border-bottom: 3px solid dodgerblue;
}
.nav-item{

}
.nav-item a i svg, .navbar-text a i svg{
    margin-top: -3px;
}
a.nav-link{
    padding: 1rem 2rem 1.5rem 2rem !important;
}

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #f7f7f7;
    font-family: 'Avenir';
}

#footer {
    justify-content: start;
    border-top: 1px solid #ccc;
    font-size: .8em;
    text-align: center;
    padding: 30px 10px 30px 10px;
    color: #181818;
    font-size: 14px;
    line-height: 19px;
    /*height: 50px;*/
}
.footer__small{
    font-size: 14px;
    line-height: 19px;

}
.footer__adress{
    font-size: 14px;
    line-height: 19px;
    margin-left: 55px;
}

.footer__adress a{
    font-size: 14px;
    line-height: 19px;
}
.main__btn_change{
    background-color: #4d88d8;
}
.thead__title{
    width: max-content;
    border-left: solid 2px #bcbcbc;
    margin-left: -15px;
    padding-left: 15px;
    color: #181818;
    font-size: 14px;
    font-weight: 900;
    opacity: 0.7;
}
.analitycs_table thead tr th:first-child, .analitycs_table tbody tr td:first-child{
    padding-left: 30px;
}
.analitycs_table tbody tr td:first-child{
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}
.link_text{
    text-decoration: underline;
}
.default-text{
    color: #181818;
    font-size: 14px;
}
thead th:first-child{
    opacity: 0.7;
}
tbody th{
    opacity: 0.7;
}



#article {
    /*background-color: #fafafa;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
    background-color: #fff;
    padding: 15px;
    min-height: 700px;
}

.mainTitle{
    text-align: left;
    margin: 45px 0 45px 10px;
}
.under-text{
    margin-left: 15px;
    color: #181818;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    opacity: 1;
}
.changes__dates_fields{
    border-radius: 5px;
    border: solid 2px rgba(188, 188, 188, .5);
    color: #4d88d8;
    /*font-size: 16px;*/
    height: 50px;
    background-color: #ffffff;
}
.changes__dates_search{
    height: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 14px;
    background-color: #4d88d8;
}
.changes__start_title, .changes__end_date{
    width: 150px;
    max-width: max-content;
    min-width: max-content;
    color: #181818;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
.changes__title{
    margin: 45px 0 37px 0;
}
.changes__sybmenu, .changes__submenu-link{
    width: 216px;
    max-width: 216px;
}
.changes__submenu-link{
    color: #707070;
    font-weight: 500;
}
.changes__submenu-link:hover{
    color: #181818;
}
.changes__submenu-link.active{
    background-color: #fff !important;
    color: #707070 !important;
    border-bottom: 2px solid #007bff;
    font-weight: 500;
}

.search_owner{
    margin-left: -140px;
    padding-left: 25px;
    border-left: 2px solid #bcbcbc;
    margin-top: -7px;
    color: #7a7a7a;
    font-size: 15px;
}
.checkbox_func{
    margin-top: 2px;
    margin-left: 15px;
}
.search_owner input[type='checkbox']{
    width: 19px;
    height: 19px;
}
.main__search-field{
    border-radius: 5px;
    border: solid 2px #bcbcbc;
    width: 44% !important;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    padding: 15px 134px 15px 25px;
}
.btn_add_items{
    margin-left: 50px;
    height: 50px;
    width: 140px;
    background-color: #4d88d8;
}
.btns_rightside{
    float: right;
    margin-top: -58px;
}
.order__field{
    font-size: 14px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid 2px #bcbcbc;
}
.btns_rightside form:first-child{
    margin-right: 15px;
}
.btns_rightside button{
    height: 50px;
    border-radius: 5px;
}
.btn_reorder{
    border: solid 1px #707070;
    background-color: #fff;
    color: #707070;
    padding-left: 22px;
    padding-right: 22px;
}
.btn_parse{
    background-color: #05862D;
    color: #fff;
    transition: .2s ease;
    padding-left: 22px;
    padding-right: 22px;
}
.btn_parse:hover{
    color: #fff;
    transition: .2s ease;
    background-color: #05622D;
}
.changes__margin-top{
    display: block;
    width: 100%;
    height: 35px;
    /*margin-top: 20px;*/
}
.change__table{
    width: 96%;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 14px;
}
.change__table tr td:nth-child(1){
    width: 300px;
    /*max-width: 170px;*/
}
.change__table tr td:nth-child(2){
    width: 400px;
}
.change__table tr td:nth-child(3){
    width: 300px;
}
.changes__nights{
    position: relative;
    height: 100%;
}
.changes__btn-showAll{
    display: block;
    background-color: #4d88d8;
    height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    margin: 10px auto 35px auto;
}

.changes__nav{

}
.changes__text{
    display: inline-block;
    vertical-align: middle;
}
.default__price-trans{
    transition: .2s easy;
}
.changes__nights:before{
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
.auth{
    height: 100vh;
    display: flex;
    margin: auto 0;
    align-items: center;
    -webkit-align-items: center;
}



.changes__col-default{
    padding: 23px 0 27px 28px;
}
.changes__col-date{
    color: #dd3232;
}
.changes__row-default td{
    color: #7a7a7a;
    font-size: 14px;

}
.main_table{
    width: 96%;
    margin: 60px auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-size: 14px;
}
.main_table tr{
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}
.main_table td, .main_table th{
    border:  none;
}
.main_table th:nth-child(1), .main_table td:nth-child(1){
    width: 5%;
    max-width: 70px;
    min-width: 40px;
}
.main_table th:nth-child(2), .main_table td:nth-child(2){
    width: 17%;
    max-width: 100px;
    min-width: 70px;
}
.main_table th:nth-child(3), .main_table td:nth-child(3){
    width: 8%;
    max-width: 150px;
    min-width: 100px;
}
.main_table th:nth-child(4), .main_table td:nth-child(4){
    width: 18%;
    max-width: 130px;
    min-width: 60px;
}
.main_table th:nth-child(5), .main_table td:nth-child(5){
    width: 15%;
    max-width: 15%;
    min-width: 15%;
}
.main_table th:nth-child(6), .main_table td:nth-child(6){
    width: 15%;
    max-width: 15%;
    min-width: 15%;
}
.main_table th:nth-child(7), .main_table td:nth-child(7){
    width: 12%;
    max-width: 12%;
    min-width: 12%;
}
.main_table th:nth-child(8), .main_table td:nth-child(8){
    width: 10%;
    /*max-width: 160px;*/
    /*min-width: 160px;*/
    /* for parse text */
    position: relative;
}
svg .active{
    fill: #181818 !important;
}
.main_table th:nth-child(9), .main_table td:nth-child(9){
    width: 10%;
    /*max-width: 160px;*/
    /*min-width: 160px;*/
    /* for parse text */
    position: relative;
}
.main_table .price{
    font-weight: 600;
}
.table_name_link{
    text-decoration: underline;
    color: #181818;
}
.table_name_link:hover{
    color: #181818;
    cursor: pointer;
}
.notes_textarea{
    color: #707070;
    padding: 10px 15px;
    resize: none;
    border-radius: 5px;
    border: solid 2px #bcbcbc;
}
.nightes_dates{
    color: #181818;
    /*line-height: 14px;*/
    margin-bottom: 0px;
}
.price_date{
    color: #7a7a7a;
    font-weight: 300;
}
.btn_deploy{
    width: 100%;
    height: 30px;
    background-color: #4d88d8;
}
.btn_delpoy_shadow{
    /*-webkit-box-shadow: 0px -30px 20px 1px rgba(255,255,255,1) !important;*/
    /*-moz-box-shadow: 0px -30px 20px 1px rgba(255,255,255,1) !important;*/
    /*box-shadow: 0px -30px 20px 1px rgba(255,255,255,1) !important;*/
}
.price_height{
    max-height: 105px;
    overflow: hidden;
    transition: .2s easy;
}
.date_height{
    max-height: 105px;
    overflow: hidden;
}
.icons_block .icon .cls-1{
    fill: inherit;
}
.changes__dates_fields{
    font-family: "Avenir";
}
.not_full_width{
    width: 96%;
    margin: 0 auto;
}
.icons_block .icon{
    display: block;
    fill: #bcbcbc;
    transition: .2s easy;
}
.btn__icon{
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
}
.cls-3-switch{
    fill: inherit;
}
.cls-2-icons-time{
    fill: inherit;
}
.icons_block .icon:hover{
    cursor: pointer;
    fill: #181818;
    transition: .2s easy;
}
.parse_status p{
    position: absolute;
    bottom: 0;
}
.analitycs__setNights{
    justify-content: start;
    justify-content: flex-start;
    color: #181818;
    font-size: 16px;
    line-height: 50px;
}
.analitycs__setNights .days{
    margin-left: 45px;
}
.night__text, .days__text{
    line-height: 50px;
}
.night__field{
    color: #4d88d8;
    padding-left: 20px;
    border: solid 2px rgba(188, 188, 188, .5);
    border-radius: 5px;
    /*opacity: .5;*/
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    width: 80px;
    margin-left: 15px;
}
.days__quant{
    color: #4d88d8;
    margin-left: 30px;
    line-height: 50px;
}



.analitycs__title{
    color: #181818;
    font-size: 34px;
    line-height: 46px;
    margin: 45px 0 30px 0;
    font-weight: 500;
}



#login_form_div {
    width: 100%;
    margin: auto auto;
    height: max-content;
}
.auth__full-form{
    width: 100%;
    padding: 10% 20%;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.auth__fields::placeholder{
    color: #707070;
}
.auth__fields{
    margin-bottom: 35px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #181818;
    padding-left: 25px;
}
.auth__sendLine{
    justify-content: flex-end;
    justify-content: end;
    margin-top: 55px;
}
.auth__checkbox{
    height: 50px;
    line-height: 50px;
}
.auth__checkbox label{
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 500;
    width:  max-content;
    width: -moz-max-content;
}
.auth__custom-check{
    margin-left: 15px;
}
.auth__sendBtn{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #4d88d8;
    padding: 0 20%;
    margin-left: 45px;
}
.auth__legend{
    font-size: 34px;
    color: #181818;
    line-height: 46px;
    margin-bottom: 45px;
}

.stat__title{
    text-transform: uppercase;
    margin: 45px 0;
    font-size: 34px;
    color: #181818;
    line-height: 46px;
}
.stat__char{
    font-size: 16px;
    color: #181818;
    margin-right: 20px;
}
.stat__char span{
    color: #4d88d8;
    font-weight: 900;
}
.stat__terms{
    min-height: 50px;
    margin-top: 30px;
}
.stat__btns{
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    margin-top: -10px;
}
.stat__changesBtn{

}
.cal__titleMonth{
    font-size: 24px;
    color: #181818;
    line-height: 33px;
    font-weight: 900;
    margin-bottom: 10px;
}
.alert__title{
    background-color: rgba(255, 192, 7, .1);
    border: none;
    border-radius: 5px;
}
.alert div{
    color: #181818;
    font-size: 16px;
    font-weight: 500;
}
.alert div span{
    color: #7a7a7a;
    font-weight: 900;
    margin-right: 20px;
}
.cal__leftTable{
    /*margin-top: 150px;*/
    background-color: rgba(77, 136, 216, .1);
    border: none;
}
.buttons__selector{
    margin-left: -20px;
    margin-top: auto;
    margin-bottom: auto;
}
.buttons__selector img{
    width: 8px;
    height: 8px;
    display: block;
}
.buttons__selector img:hover{
    cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}
.table-success{
    border: 1px solid #fff !important;
}
.table-spaced{
    border: none !important;
}
.table-cal-default{
    border: 1px solid #dee2e6 !important;
}
.table__calendar{
    width: calc(100% - 1px);
    margin-left: 1px;
}



#table_div {
    margin-top: 50px;
}

#nav {
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#nav li {
    float: left;
    list-style: none;
}

#nav a {
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    border-right: 1px solid #ccc;
}

#nav li:last-child a {
    border-right: none;
}

#nav a:hover {
    font-weight: bold;
}

#nav:after {
    content: " ";
    display: table;
    clear: both;
}

.border-5 {
    border-width: 5px !important;
}

.border-2 {
    border-width: 2px !important;
}

textarea:disabled {
    background-color: #f7f7f7;
    border-width: 0;
}

* {
    font-size: 14px;
    line-height: 2;
}

.form-check-rel {
    position: relative;
    flex-shrink: 0;
    margin-top: 0;
    margin-right: .25rem;
    margin-left: 0;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: #ccc;
}

.pull-right {
    float: right !important
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 100%;
}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: none;
    list-style: none;
}
.my-legend .legend-scale ul li {
    font-size: 100%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}
.my-legend a {
    color: #777;
}
.anal__accept{
    background-color: #4d88d8;
    margin-left: 30px;
    padding: 0px 40px;
}

@media (max-width: 1500px) {
    .main_table{
        wisth: 100%;
        margin: 60px 0 0 0;
    }
    .main__table-resp{
        width: 96%;
        margin: 0 auto;
    }
}